/*Generales*/
.clear-fix{
    clear: both;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: #62d7d2;
    background: linear-gradient(180deg,#62d7d2 0%, #57addb 50%,#4a7fe8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
a{
    text-decoration: none;
    color: black;
}

main{
    background: #fff;
    max-width: 400px;
    width: 100%;
    height: 750px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    padding: 20px;
}
.button{
    background:#2463e1 ;
    border-radius: 3px;
    color:white;
    font-size: 18px;
    padding: 2px;
    width: max-content;
}
.button-marginB{
    margin-bottom: 10px;
}
.red{
    background-color: red;
}

ul{
    list-style: none;
}

/*header*/
.header {
    min-height: 11%;
    height: 83px;
    /*border: 1px solid red;*/
}
.header .logo{
    font-size: 30px;
    font-weight: 600;
    
}
.header .user{
    font-size: 18px;
    float: right;
    line-height: 35px;
}
.header a:hover{
    color: #555555;
}

.header h3{
    margin-top: 5px;
}
.header form{
    height: 35px;
    display: flex;
    margin: 10px 0;
}
.header form input[type="text"]{
    width: 85%;
    border-radius: 3px;
    border: solid 1px #ccc;
    font-size: 14px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.header form input[type="submit"]{
    background: #4a7fe8;
    color: white;
    height: 100%;
    width: 50px;
    border-radius: 3px;
    border: solid 1px #ccc;
    font-size: 30px;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.3s ease;
}
.header form input[type="submit"]:hover{
    background:#57addb ;
}

/*container*/
.container{
    height: 585px;
    /*border: 1px solid black;*/
}

/*index*/
.container-img{
    display: inline-block;
    width: 200px;
    height: 50%;
    float: left;
}
.img-index{
    width: 100%;
    margin-top: 10px;
}
.index-title{
    display: inline-block;
    width: 190px;
    height: 50%;
    float: right;
}
.index-title p{
    line-height: 200px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}  
.index-p{
    display: inline-block;
    height: 50%;
}
.index-p p{
    font-size: 18px;
    margin: 10px;
}
#a-button{
    text-align: center;
}

/*to-do*/
.todo ul{
    list-style: none;
    overflow-y: auto;
}
.todo li{
    background: #f2f2f2;
    height: 35px;
    overflow: hidden;
    margin-bottom: 8px;
}
.todo a{
    align-items: center;
    margin-left: 8px;
    display: inline-block;
    height: 100%;
    line-height: 35px;
    font-size: 17px;
}
.btn-todo{
    float: right;
    background-color: green;
    border-radius: 10px;
    padding: 0px 10px;
}

/*detail*/
.form .detail{
    padding: 10px;
}
.ul-detail{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.li-detail{
    align-items: center;
}

/*register*/
#title{
    margin: 8px 0;
    font-size: 20px;
}
.titleh2{
    text-align: center;
    margin-top: 10px;
    font-size: 21px;
}
#subtitleR{
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
}
.form{
    background:#f2f2f2 ;
    border-radius: 2px;
}
.form form{
    width: max-content;
    margin: 5px auto;
    
}
.form label{
    font-size: 17px;
}
.form input[type="text"],input[type="password"],input[type="email"]{
    width: 350px;
    padding: 2px;
    border: solid 1px rgb(114, 113, 113);
    margin: 5px 0;
}
.form input[type="submit"]{
    padding: 3px;
    border: solid 1px rgb(114, 113, 113);
    margin: 5px 0;
}
.form hr{
    margin-bottom: 5px;
}
.flag-red{
    color: red;
    font-size: 12px;
}

/*user*/
.box-user{
    padding: 10px;
}
.box-user h3{
    margin-bottom: 10px;
}
.box-user ul{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*footer*/
footer{
    padding-top: 5px;
    height: 48px;
}
.footer a,h4{
    line-height: 27px;
} 
.footer .action{
    float: right;
    height: 30px;
}
footer .information{
    float: left;
    height: 30px;
}
.footer .copy{
    clear: both;
    width: 100%;
    text-align: center;
}
